*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Baloo Bhaijaan 2";
}

nav{
position: fixed;
right: 0;
top: 0;
z-index: 500;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 3%;
transition: 0.3s;
background: linear-gradient(130deg, rgba(21,106,155,1) 10%, rgba(99,157,201,1) 50%, rgb(133, 189, 222) 100%);
}

#navList{
display: flex;
direction: rtl;
}

.pages a{
  color: #ffff;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-bottom: 3px solid transparent;
  transition: all 0.6s ;
}

.pages a:hover{
  border-bottom: 3px solid #ffff;
}

.menu-icon{
  display: none;
  z-index: 600;
  cursor: pointer;
}

#bar1, #bar2, #bar3{
  width: 35px;
  height: 5px;
  background-color: #ffff;
  margin: 6px 0;
  transition: 0.4s;
}

body{
  align-items: center;
  display: flex;
  justify-content: center;
}

.bg{
  position: fixed;
  height: 200%;
  width: 100%;
  background-image: url(../Images/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 80%;
}


/* calculator css */
.container{
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  box-shadow: 0 5px 50px rgba(7, 28, 40, 0.7);
  width: 450px;
  height: 550px;
  margin-top: 10%;
}

.calculator {
  padding-left: 25px;
  height: 100%;
  width: 400px;
}
  
.screen {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0 5px 50px rgba(7, 28, 40, 0.3);
  border-radius: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: right;
  font-size: 35px;
  color: black;
  width: 400px;
  height: 80px;
  padding: 12px 12px;
  margin-top: 5%;
  margin-bottom: 20px;
}

.row{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.buttons {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: rgb(9, 50, 74);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid rgb(5, 41, 62);
  border-radius: 70px;
  height: 65px;
  box-shadow: 0 5px 50px rgba(7, 28, 40, 0.2);
  flex-basis: 30%;
  margin: 10px 7px 10px;
}

.buttons:hover{
  background-color: rgb(244, 158, 198);
}
.buttons:active{
  background-color: rgba(207,239,216,0.75);
}
.buttons:last-child{
  background-color: rgba(159,217,251,1);
}
.buttons:last-child:hover{
  background-color: #f2d031;
}
.buttons:last-child:active{
  background-color: rgba(207,239,216,0.75);
}
.longButtons{
  flex-basis: 95%;
}
  
input:active[type=button] {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

@media (max-width: 1280px){
  .container{
    width: 420px;
    height: 530px;
    margin-top: 10.5%;
  }
  .screen{
    width: 380px;
    height: 70px;
  }
  .buttons{
    height: 60px;
  }
}

@media (max-width: 1220px){
  .container{
    height: 520px;
    margin-top: 11%;
  }
}

@media (max-width: 1160px){
  .container{
    height: 510px;
    margin-top: 12%;
  }
}

@media (max-width: 1045px){
  .container{
    width: 420px;
    height: 500px;
    margin-top: 13%;
  }
  .screen{
    margin-bottom: -0.5%;
  }
}

@media (max-width: 990px){
  .container{
    margin-top: 14%;
  }
}

@media (max-width: 900px){
  .container{
  margin-top: 15%;
  }
}

@media (max-width:860px){
  .menu-icon {
    display: inline-block;
  }
  .menu-after #bar1{
    transform: translate(0,11px) rotate(-45deg);
  }
  .menu-after #bar2{
    opacity: 0;
  }
  .menu-after #bar3{
    transform: translate(0,-11px) rotate(45deg);
  }
        
  #navList{
    position: absolute;
    top: 20%;
    right: -100%;
    width: 300px;
    height: 50vh;
    background: #041727;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.5s;
  }
        
  .pages a{
    display: block;
    margin: 10px 0;
  }
        
  #navList.openMenuList{
    right: 0;
  }
  .container{
    margin-top: 17%;
  }
}

@media (max-width: 745px){
  .container{
    margin-top: 20%;
  }
}

@media (max-width: 650px){
  .container{
    margin-top: 25%;
  }
}

@media (max-width: 530px){
  .container{
    width: 410px;
    height: 500px;
    margin-top: 30%;
  }
  .screen{
    width: 370px;
    height: 65px;
    margin-bottom: 2%;
  }
  .buttons{
    height: 55px;
  }
}

@media (max-width: 460px){
  .container{
    width: 410px;
    height: 500px;
    margin-top: 35%;
  }
  .screen{
    width: 360px;
    height: 70px;
    margin-bottom: 5%;
  }
  .buttons{
    height: 50px;
  }
}

@media (max-width: 440px){
  .container{
    width: 350px;
    height: 500px;
    margin-top: 35%;
  }
  .calculator{
    width: 320px;
  }
  .screen{
    width: 310px;
    height: 70px;
    margin-bottom: 7%;
  }
  .buttons{
    height: 50px;
    flex-basis: 20%;
  }
  .longButtons{
    flex-basis: 65%;
  }
}

@media (max-width: 375px){
  .container{
    width: 320px;
    margin-top: 40%;
  }
  .calculator{
    width: 300px;
  }
  .screen{
    width: 270px;
    margin-bottom: 8%;
  }
}

@media (max-width: 350px){
  .container{
    width: 310px;
  }
  .calculator{
    width: 290px;
  }
  .screen{
    width: 270px;
    margin-bottom: 8%;
  }
}